@model bright_ideas.Models.LoginViewModel

<h3>Login</h3>
<form asp-controller="User" asp-action="Login" method="post">
    <table class="table" id="borderless2">
        <tr>
            <td><label asp-for="LogEmail"></label></td>
            <td><input asp-for="LogEmail"/></td>
        </tr>
        <tr>
            <td></td>
            <td class="error"><span asp-validation-for="LogEmail"></span>
                @if(@ViewBag.EmailError != null)
                {
                    <span>@ViewBag.EmailError</span>
                }
                </td>
        </tr>
        <tr>
            <td><label asp-for="LogPassword"></label></td>
            <td><input asp-for="LogPassword"/></td>
        </tr>
        <tr>
            <td></td>
            <td class="error"><span asp-validation-for="LogPassword"></span>
                @if(@ViewBag.PassError != null)
                {
                    <span>@ViewBag.PassError</span>
                }
            </td>
        </tr>
        <tr>
            <td></td>
            <td><button type="submit">Login</button></td>
        </tr>
    </table>
</form>
