
@model dojo_activities.Models.RegisterViewModel

<h3>Register</h3>
<form asp-controller="User" asp-action="Register" method="post">
    <table class="table" id="borderless">
        <tr>
            <td><label asp-for="FirstName"></label></td>
            <td><input asp-for="FirstName"/></td>
        </tr>
        <tr>
            <td></td>
            <td class="error"><span asp-validation-for="FirstName"></span></td>
        </tr>
        <tr>
            <td><label asp-for="LastName"></label></td>
            <td><input asp-for="LastName"/></td>
        </tr>
        <tr>
            <td></td>
            <td class="error"><span asp-validation-for="LastName"></span></td>
        </tr>
        <tr>
            <td><label asp-for="Email"></label></td>
            <td><input asp-for="Email"/></td>
        </tr>
        <tr>
            <td></td>
            <td class="error"><span asp-validation-for="Email"></span><p class="error">@TempData["email_exists"]</p></td>
        </tr>
        <tr>
            <td><label asp-for="Password"></label></td>
            <td><input asp-for="Password"/></td>
        </tr>
        <tr>
            <td></td>
            <td class="error"><span asp-validation-for="Password"></span></td>
        </tr>
        <tr>
            <td><label asp-for="PasswordConf"></label></td>
            <td><input asp-for="PasswordConf"/></td>
        </tr>
        <tr>
            <td></td>
            <td class="error"><span asp-validation-for="PasswordConf"></span></td>
        </tr>
        <tr>
            <td></td>
            <td><button type="submit">Register</button></td>
        </tr>
    </table>                
</form>
<h5><a href="/login">Already Registered? Login here</a></h5>       