
@model bright_ideas.Models.RegisterViewModel

<h3>Register</h3>
<form asp-controller="User" asp-action="Register" method="post">
    <table class="table" id="borderless">
        <tr>
            <td><label asp-for="Name"></label></td>
            <td><input asp-for="Name"/></td>
        </tr>
        <tr>
            <td></td>
            <td class="error"><span asp-validation-for="Name"></span></td>
        </tr>
        <tr>
            <td><label asp-for="Alias"></label></td>
            <td><input asp-for="Alias"/></td>
        </tr>
        <tr>
            <td></td>
            <td class="error"><span asp-validation-for="Alias"></span></td>
        </tr>
        <tr>
            <td><label asp-for="Email"></label></td>
            <td><input asp-for="Email"/></td>
        </tr>
        <tr>
            <td></td>
            <td class="error"><span asp-validation-for="Email"></span><p class="error">@TempData["email_exists"]</p></td>
        </tr>
        <tr>
            <td><label asp-for="Password"></label></td>
            <td><input asp-for="Password"/></td>
        </tr>
        <tr>
            <td></td>
            <td class="error"><span asp-validation-for="Password"></span>
                @if(@ViewBag.passErrors != null)
                {
                    @foreach(string error in @ViewBag.passErrors)
                    {
                       <p>@error</p> 
                    }
                    
                }
                
            </td>
        </tr>
        <tr>
            <td><label asp-for="PasswordConf"></label></td>
            <td><input asp-for="PasswordConf"/></td>
        </tr>
        <tr>
            <td></td>
            <td class="error"><span asp-validation-for="PasswordConf"></span></td>
        </tr>
        <tr>
            <td></td>
            <td><button type="submit">Register</button></td>
        </tr>
    </table>                
</form>
   