
<h1>Dojo Activity Center</h1>

<table id="table" class="table-striped">
    <tr>
        <th>Activity</th>
        <th>Date and Time</th>
        <th>Duration</th>
        <th>Event Coordinator</th>
        <th>Number of Participants</th>
        <th>Actions</th>
    </tr>
</table>



<form action="/New">
    <input type="submit" value="Add an Activity">
</form>