body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

#table td{
    padding: 20px;
}
#table th{
    padding: 20px;
}

.addMeet input{
    display: block;
    margin-top: 20px;
}

.addMeet label{
    margin-top: 20px;
}

.details{
    margin-left: 40px;
}

.actionshow{
    margin-left: 200px;
}

.parts{
    margin-left: 30px;
}

#borderless td{
    border: none;
}
#borderless2 td{
    border: none;
}